<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hunter.master.foxhunter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".UserInterface"
            android:label="User Interface"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".Communication"
            android:label="Communication"
            android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name=".GameLogic"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Game Logic"></activity>
    </application>

</manifest>